* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Vollkorn', Georgia ,serif;
}

img {
    display: block;
    width: 100%;
    border-radius: 5px;
}


li {
    list-style: none;
}

a {
    text-decoration: none;  
}

p{
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: -0.005rem; /*Ele aumenta os espaço entres os caracteres.*/
    color: rgb(0,0,0,.7)
}

/* GRID GERAL */

.wb-container {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
        "header header header"
        "sidenav content adverts"
        "footer footer footer"
        ;
}

@media (max-width:1200px){
    .wb-container {
        grid-template-areas: 
            "header header header"
            "sidenav content content"
            "sidenav adverts adverts"
            "footer footer footer"
            ;
    }
}

@media (max-width: 760px) {
    .wb-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "sidenav"
            "content"
            "adverts"
            "footer"
            ;
    }
}

/*Header*/

.wb-header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;  /*Alinha na vertical*/
}

.wb-logo {
    max-width: 200px;
}

.wb-header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.wb-header nav a {
    display: block;
    padding: 10px;
    background: rgb(0,0,0,.1);
    color: white;
    font-size: 1.125rem;
    transition: .1s;
    border-radius: 5px;
}

.wb-header nav a:hover{
    background: rgb(0,0,0,.5);
}

.wb-header li + li {
    margin-left: 10px;    
}


@media (max-width: 760px){
    .wb-header {
        grid-template-columns: auto;
        gap: 20px;
    }
    .wb-header nav ul li a {
        font-size: 1rem;
    }
    
    .wb-header nav li + li {
        margin-left: 10px;
    }
    
}

/*Sidenav*/

.wb-sidenav {
    grid-area: sidenav;
    padding: 30px;
    background: #fafbfc;
}

.wb-sidenav a {
    display: block;
    padding: 20px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgb(44,44,44,0.15);
    background: white;
    transition: .1s ease-out;
    max-width: 100px;
    min-width: 60px;
}

.wb-sidenav a:hover {
    background: #B07DFB;
}

@keyframes seta{
    from {
        right: 30px;
    }
    
    to {
        right: 20px;
    }
    
}

@media (max-width: 760px){
    .wb-sidenav {
        overflow-x: auto; /* Faz o scroll na horizontal */
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        position: relative;
    }
    
    .wb-sidenav::after {
        content: '→';
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0,0,0, .3);
        animation: seta .5s ease-in 0s infinite alternate;
        /* animação/velocidade/modo-de-animar/instante pra começar/infinite altenate(ir e voltar)*/
    }
    
    .wb-sidenav ul {
        display: flex;
    }
    .wb-sidenav ul li {
        flex: 1 0 60px;
    }
    .wb-sidenav {
        padding: 0 30px;
    }
    
    .wb-sidenav ul li a {
        margin: 30px 30px 30px 0;
    }
     
}

/*Content*/

.wb-content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

@media (max-width: 600px) {
    .wb-content {
        grid-template-columns: auto;
    }
}

.col-wide {
    grid-column: 1 / -1;
}

.span-2 {
    grid-row: span 2;
    align-self: end;
}

.item-2 {
    align-self: end;
}

.wb-title{
    color: #B07DFB;
}

.wb-informations p  + p { 
    margin-top: 30px; 
}

.wb-title h1 {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
}

.wb-title span {
    font-size: 0.875rem;
    font-style: italic;
}

.wb-character {
    display: flex;
    align-items: flex-start;
}

.wb-character > div {
    width: 80px;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    border-radius: 5px;
    text-align: center; 
    box-shadow: 5px 5px  15px 0px rgb(44,44,44,0.15);
    position: relative;
}

.wb-character div + div {
    margin-left: 30px;
}

.wb-character span {
    display: block;
    color: #B07DFB;
}

.wb-number {
    font-size: 3rem;
    line-height: 1;
    margin: 10px auto;
}

.wb-label {
    display: block;
    background: white;
    border-radius: 0 0 5px 5px;  
    padding: 5px;
    position: relative;
    top: 2px;
}

.wb-spotlight {
    color: #B07DFB;
    font-size: 0.875rem;
    max-width: 16rem;
}

.quote, .wb-attributes{
    align-self: start;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgb(44,44,44, 0.15);
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    color: white;
    text-align: center;
}

.quote p{
    color: white;
    max-width: 500px;
    margin: 0 auto;
}

.wb-attributes li {
    font-family: Courier, monospace;
    font-size: 1.125rem;
    padding: 15px;
}

.wb-attributes li + li {
    border-top: 2px solid #B07DFB;
    color: white;
}

/*Adverts*/

.wb-adverts {
    grid-area: adverts;
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    grid-gap: 30px; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /*O 'auto-fit' ele cria colunas automaticamente conforme o tamanho do conteúdo
        e o minmax();
    */
}

/*Footer*/

.wb-footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.wb-footer p {
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 1.4rem;
}